/* Color templates*/

.color-pink {
  color: $color-pink !important;
}

.color-grey {
  color: $color-grey !important;
}

.color-gold {
  color: $color-gold !important;
}

.color-white {
  color: $color-white !important;
}

.color-dark {
  color: $color-dark !important;
}

.color-pink-bg {
  background: $color-pink !important;
}

.color-grey-bg {
  background: $color-grey !important;
}

.color-gold-bg {
  background: $color-gold !important;
}

.color-white-bg {
  background: $color-white !important;
}

.color-dark-bg {
  background: $color-dark !important;
}
