/* footer */
.footer {
  width: 100%;
}

.footer .row {
  padding-left: 2rem;
  padding-right: 2rem;
  place-items: center;
}

.sociallinks {
  margin-top: 3%;
  margin-left: 1%;
}

.sociallinks:hover {
  margin-top: 3%;
  margin-left: 1%;
  color: pink;
}

.footer-credit {
  color: black;
}

.icon {
  color: pink;
}

@media only screen and (max-width: 768px) {
  .media {
    display: flex;
  }
}

/* footer ends */
