/*   product page Template */

#products {
  .grid {
    display: grid;
    position: relative;
    left: 10%;
  }

  .grid-item {
    margin-top: 1rem;
    margin-right: 1.3rem;
    box-shadow: 10px 10px 15px #888888;
    border-radius: 5px;
  }

  .btn-outline-info {
    border: 1px solid $color-gold !important;
    color: $color-gold !important;
  }

  .is-checked {
    background: $color-gold !important;
    color: $color-white !important;
    border: 1px solid $color-gold !important;
  }

  .color-red {
    color: red;
  }

  img {
    width: 180px; /* You can set the dimensions to whatever you want */
    height: 180px;
    object-fit: cover;
  }
}
