/* Typography Classes*/

.font-Edwardian {
  font-family: $font-Edwardian;
}

.font-Trajan {
  font-family: $font-Trajan;
}

.font-Zapfino {
  font-family: $font-Zapfino;
}

.font-Carentro {
  font-family: $font-Carentro;
}
.font-Tnr {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-transform: initial;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-80 {
  font-size: 80px;
}

.font-size-100 {
  font-size: 100px;
}
