$font-Edwardian: 'Edwardian', sans-serif;
$font-Trajan: 'Trajan', sans-serif;
$font-Carentro: 'Carentro', sans-serif;
$font-Zapfino: 'Zapfino', sans-serif;
$color-pink: pink;
$color-gold: #9b7a16;
$color-grey: #888;
$color-white: #fff;
$color-dark: #252525;
