/*Header template*/
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: auto;
}

.navbar {
  background-color: white;
}
.navbar-brand {
  font-size: 5rem !important;
  color: pink !important;
  text-transform: inherit !important;
}
