/*Story page*/

#banner-story img {
  width: 100vw;
}

#Story .container {
  position: absolute;
  top: 90%;
  left: 7%;
  z-index: 3;
  background: linear-gradient(to left, pink, white);

  img {
    width: 300px;
    height: 300px;
    margin: 5%;
    border-radius: 5px;
    float: left;
  }

  h2 {
    margin-top: 3rem;
  }

  p {
    height: fit-content !important ;
    margin-right: 2px;
    padding: 15px 10px;
    justify-content: center;
    text-align: justify;
    color: $color-gold;
    word-wrap: break-word;
  }
}

#Style .container {
  margin: 45% 0 0 7%;
  z-index: 1;
  background: linear-gradient(to right, pink, white);

  img {
    width: 300px;
    height: 300px;
    margin: 5%;
    border-radius: 5px;
    float: right;
  }

  h2 {
    padding-top: 50px;
  }

  p {
    height: fit-content !important ;
    margin-right: 2px;
    padding: 15px 10px;
    justify-content: center;
    text-align: justify;
    color: $color-gold;
    word-wrap: break-word;
  }
}

/*Story page*/
